<div id="current-section" class="section">
    <h2>Current</h2>
    <div class="button-container"></div>
</div>
<div id ="new-section" class="section">
    <h2>New</h2>
    <div class="button-container"></div>
</div>
<div id ="depreciated-section" class="section">
    <h2>Depreciated</h2>
    <div class="button-container"></div>
</div>